application/proposal.rst
application/proposal.html
**.ipynb_checkpoints/
**__pycache__/
.cache/
application/style.css

# Latex files:
application/proposal.aux
application/proposal.log
application/proposal.out
application/proposal.pdf
application/proposal.tex
application/proposal.toc
