**.pyc
**.ipynb_checkpoints/
**__pycache__/
.cache/
application/*.out
application/proposal.rst
application/proposal.html
application/style.css

# Latex files:
application/proposal.aux
application/proposal.log
application/proposal.pdf
application/proposal.tex
application/proposal.toc
application/logsum
application/proposal_pdf.rst
